body {
  padding: 0;
  margin: 0;
  text-align: center;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

/* You just need to get this field - start */

.search-box {
  width: 350px;
  position: relative;
  display: flex;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 1rem;
}

.search-input {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  padding: 15px 45px 15px 15px;
  background-color: #eaeaeb;
  color: #6c6c6c;
  border-radius: 20px;
  border: none;
  transition: all .4s;
}

.search-input:focus {
  border: none;
  outline: none;
  box-shadow: 0 1px 12px #b8c6db;
  -moz-box-shadow: 0 1px 12px #b8c6db;
  -webkit-box-shadow: 0 1px 12px #b8c6db;
}

.search-btn {
  background-color: transparent;
  font-size: 18px;
  padding: 6px 9px;
  margin-left: -45px;
  border: none;
  color: #6c6c6c;
  transition: all .4s;
  z-index: 10;
}

.search-btn:hover {
  transform: scale(1.2);
  cursor: pointer;
  color: black;
}

.search-btn:focus {
  outline: none;
  color: black;
}


.item-list {
  max-height: 120px;
  display: flex;
  overflow-x: auto;
}

.item-list::-webkit-scollbar {
  width: 0;
}
hr {
  margin-top: 0.5em;
  width: 90%;
}
.item-list > .item {
  min-width: 150px;
  height: 30px;
  background: rgb(208,208,208);
  line-height: 20px;
  margin: 0.7em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.card {
  width: 400px;
  height: 170px;
  margin: 0 auto;
  background-color: #ececec;
  border-radius: 10px;
}

.card-profile {
  width: 85%;
  height: 76px;
  display: flex;
  margin: 0 auto;
  align-items: center;
}
.img-profile {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: rgb(207,207,207);
}

.text-profile {
  width: 210px;
  height: 25px;
  border-radius: 10px;
  background-color: rgb(207,207,207);
  margin-left: 2rem;
}
.card-content {
  width: 85%;
  height: 94px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.card-item {
  width: 75px;
  height: 75px;
  background-color: rgb(207,207,207);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.content {
  width: 90%;
  height: 400px;
  overflow: auto;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.content-item {
  min-width: 90%;
  min-height: 100px;
  background: rgb(207,207,207);
}